/*plik w którym przechowujemy style css dla naszego pliku HTML*/
body { /*dzięki tej komendzie zmiany dotyczą całego pliku który zawiera się w sekcji body*/
    font-family: Arial; /*komenda ta daje możliwość zmiany czcionki na stronie*/
}
h1 {
    font-size: 32px; /* Tutaj nagłówek 1 ma mieć rozmiar czcionki 32. Natomiast średniki służą do oddzielenia reguł CSS*/ 
}
h2 {
    font-size: 26px; /* Tutaj nagłówek 1 ma mieć rozmiar czcionki 26.*/
}
h3 {
    font-size: 26px; 
}
span {
    color: magenta; /* Tutaj span czyli ten ktrótki opis ma być w kolorze magenta*/
}
img { 
    width: 150px;
    height: 150px; /*Tutaj mamy deklaracje co do wymiaru naszego obrazka czyli długość i szerokość.*/
}
