/*plik w którym przechowujemy style css dla naszego pliku HTML*/
body { /*dzięki tej komendzie zmiany dotyczą całego pliku który zawiera się w sekcji body*/
    font-family: Arial; /*komenda ta daje możliwość zmiany czcionki na stronie*/
    background-color: rgb(236, 118, 147); /*ustawiamy kolor tła dla naszej strony*/
    padding: 40px; /*zwiększenie różowej przestrzeni, żeby lepiej się wyróżniało*/ 
}
h1 {
    font-size: 32px; /* Tutaj nagłówek 1 ma mieć rozmiar czcionki 32. Natomiast średniki służą do oddzielenia reguł CSS*/ 
}
h2 {
    font-size: 26px; /* Tutaj nagłówek 1 ma mieć rozmiar czcionki 26.*/
}
h3 {
    font-size: 26px; 
}
span {
    color: magenta; /* Tutaj span czyli ten ktrótki opis ma być w kolorze magenta*/
}

section,
header { /*dla tekstu w tej sekcji ustawiamy odstępy między tekstem dla większej czytelności*/
    padding: 10px 60px 20px 60px;
    background-color: white; /*ustawiamy kolor tła dla naszej strony*/
    width: 960px; /* nadajemy im rozmiar kartki papieru*/
    margin: 0 auto; /*ustawiamy żeby nasza storna była na środku*/

}
header{
    display: flex; /*ustawia elementy w jednej lini*/
    align-items: center; /*pozwala ustawić wsztskie elementy które są w jendej lini w centralnym położeniu, w jednakowych
                        odstępach od górnej krawędzi*/
    justify-content: space-between; /*rozmieszcza elementy w poziomie tak, że pierwszy i ostatni znajdują się przy krawędzi
                                    a  pozostałe oddzielone są równym odstępem.*/
    
}
/* ul{
    list-style: none; -pozbywamy się wszystkich kropek przy wyliczeniach
} */
header ul {
    list-style: none; /*pozbywamy się kropek pzy wyliczniach tylko w sekcji header*/
}
header li {
    margin-bottom: 15px; /*dodajemy odstępy między tekstem*/
}
.address-icon { /*ustawiamy rozmiar ikonek w sekcji adress po nadaniu danej klasy dodajemy tutaj nazwę klasy którą zapisaliśmy*/
    width: 16px;
    height: 16px;
    background-color: rgb(235, 137, 157); /*ustawiamy kolor pod ikonkami*/
    margin-right: 10px; /*odsuwamy trochę ikony od tekstu*/
    padding: 8px; /*odsuwamy ikonę od krawędzi elementu, dodajemy odstęp wewnątrz elementu*/
    vertical-align: middle; /*aby wyrównac tekst do środka ikonki, ta metoda działa tylko dla elementów z display inline*/ 
}
.circle {
    border-radius: 50%;/*pozwala na zaokrąglenie naszych ikonek.*/
}
.profile-picture { /* klasa do zdjęcia profilowego mówiąca nam jakie rozmiary ma miec to zdjęcie*/
    width: 180px;
    height: 180px;
    margin-right: 10px;
}
.naglowek4 {
    list-style: none;
    padding: 0;
    display: flex; /*elementy ustawią nam się w jendej lini*/
    flex-wrap: wrap; /*uznaje rozmiary elementów i nie upycha ich obok siebie tylko zwija niżej*/
}
.naglowek4 li { 
    width: 50%; /*pozwoli to na ustawienie na stronie 2 elementów obok siebie*/
    display: flex;
}